/* styles.css */
.welcome-page {
    -fx-background-color: white;
    -fx-background-radius: 10px;
}

.inner-container{
    -fx-background-radius: 10px;
}

.header-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #2666b5;
}

.header-label2 {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
}

.welcome-label {
    -fx-font-size: 45px;
    -fx-font-weight: bold;
    -fx-text-fill: #2666b5;
}

.instruction-label {
    -fx-font-size: 14px;
    -fx-text-fill: #2666b5;
    -fx-font-weight: bold;
}

.login-button {
    -fx-background-color: orange;
    -fx-text-fill: white;
    -fx-background-radius: 999px;
    -fx-padding: 20px 20px;
}

.login-button:hover{
    -fx-background-color: #e4a831;
}


.exit-button {
    -fx-text-fill: white;
    -fx-background-color: red;

}

.back-button {
    -fx-text-fill: black;
    -fx-background-color: #e4a831;
    -fx-background-radius: 999px;

}

.text-input{
    -fx-padding: 20px 20px;
    -fx-border-color: #2666b5;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-background-color: white;
}

.error-text{
    -fx-text-fill: red;
}

/*.date-Input{
    -fx-border-color: red;
}*/


/* Optional styling for rounded corners on the exit button */
.exit-button {
    -fx-background-radius: 999px;

}
